/* Container for the handbook page */
.handbook-page-container {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
}


/* Handbook search section styling */
.handbook-search-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

.handbook-input-field {
    width: 500px;
    height: 15px;
    padding: 12px;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    color: var(--neutral-100);
    background-color: var(--neutral-800);
    outline: none;
}

.handbook-input-field:focus {
    border: 2px solid var(--primary-400); /* Blue border on focus to highlight the active field */
}

/* Error message styling */
.handbook-error-message {
    color: red;
    font-size: 16px;
    margin-top: 10px;
    text-align: center;
}

/* Response container styling */
.handbook-response-container {
    width: 1000px; 
    font-weight: normal; overflow: auto;
    padding: 20px;
    color: var(--neutral-100);
}

/* Handbook response list styling */
.handbook-response ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.handbook-response li {
    padding-left: 20px;
    text-indent: -20px;
    margin-bottom: 10px;
    color: var(--neutral-100);
}


/* Loading spinner */
.loading-spinner {
    font-size: 16px;
    color: var(--neutral-100);
    margin-top: 10px;
    text-align: center;
    animation: blink 1s infinite; /* Blinking dots effect */
  }
  
  @keyframes blink {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
  }
  
  /* User message styling */
  .user-message {
    align-self: flex-end;
    background-color: var(--primary-500);
    color: white;
    padding: 8px;
    border-radius: 10px;
    margin: 5px 0;
    max-width: 80%;
    word-wrap: break-word;
  }
  
  /* Model message styling */
  .model-message {
    align-self: flex-start;
    background-color: var(--neutral-800);
    color: white;
    padding: 8px;
    border-radius: 10px;
    margin: 5px 0;
    max-width: 80%;
    word-wrap: break-word;
  }
  
/* Loading spinner */
.loading-spinner {
    font-size: 16px;
    color: var(--neutral-100);
    margin-top: 10px;
    text-align: center;
    animation: blink 1s infinite; /* Blinking dots effect */
}

@keyframes blink {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}

/* Message container for alternating alignment */
.handbook-message {
    border-radius: 10px;
    word-wrap: break-word;
}

/* Messages aligned to the left */
.right-message {
    margin-left: auto; width: 300px; margin-top: 20px;
    background-color: var(--neutral-800); padding: 15px;
    color: white;
}

.left-message {
    margin-right: auto; width:600px; margin-top: 20px; padding: 10px;
    color: white; 
}
