.program-selection-container {
    width: 100%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    flex-direction: column;
  }
  
  .options-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    width: 100%;
    max-width: 800px;
  }
  

.add-remove-container{
  padding: 20px;
  border-radius: 20px;
  gap: 20px;
}

.add-remove-option-box{
  font-size: 10px;
  width: 20%; 
  padding-left: 10px; padding-right: 10px;
  background-color: rgba(255, 255, 255, 0.02); /* Transparent white */
  border-radius: 10px;
  text-align: center;
  color: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 1); /* Darker shadow */
  transition: all 0.3s ease;
  cursor: pointer;
}

.add-remove-text{
  width: 100%;
  max-width: 1000px;
}