.program-selection-container {
    width: 100%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    flex-direction: column;
  }
  
  .options-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    width: 100%;
    max-width: 800px;
  }
  
  .option-box {
    background-color: rgba(0, 0, 0, 0.2); /* Transparent white */
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    color: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5); /* Darker shadow */
    backdrop-filter: blur(10px); /* Frosted glass effect */
    border: 2px solid rgba(255, 255, 255, 0.2); /* Cool border */
    transition: all 0.3s ease;
    cursor: pointer;
  }
  
  .option-box:hover {
    background-color: rgba(0, 0, 0, 0.5); 
    transform: scale(1.05);
  }
  
  .option-box h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.3); /* Futuristic text shadow */
  }
  
  .option-box p {
    font-size: 16px;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.2); /* Subtle text shadow */
  }
  

.add-remove-container{
  padding: 20px;
  border-radius: 20px;
  border: 2px solid rgba(255, 255, 255, 0.2); 
  display: flex;
  margin-bottom: 100px;
  gap: 20px;
}

.add-remove-option-box{
  font-size: 10px;
  padding-left: 10px; padding-right: 10px;
  background-color: rgba(0, 0, 0, 0.2); /* Transparent white */
  border-radius: 10px;
  text-align: center;
  color: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5); /* Darker shadow */
  backdrop-filter: blur(10px); /* Frosted glass effect */
  border: 2px solid rgba(255, 255, 255, 0.2); /* Cool border */
  transition: all 0.3s ease;
  cursor: pointer;
}

.add-remove-text{
  margin-top: 5px;
  width: 100%;
  max-width: 1000px;
}