shall take place in Honolulu Hawaii However prior to or during negotiations or
mediation either party may initiate litigation that would otherwise become barred by a
statute of limitations
9 Insurance
In the performance of its services Consultant will be climbing on the rooftops of
structures among other things Consultant understands that Owner makes no
representation or warranty to Consultant of the safety of the structures and Consultant
hereby confirms to and for the benefit of Owner that Consultant has undertaken similar
services in the past and understands the physical risks involved in performing services on
the rooftops or otherwise Consultant will require its principals employees and any
other persons on the Project site at its request to do take all appropriate safety
precautions In consideration of the benefits of this contract for consultant services
Consultant assumes all risk of and releases against Owner from and waives as against
Owner all liabilities and claims for injury or loss to person or property of its principals
employees and any person entering the Project site for reasons related to Consultant s
services and will indemnify and hold Owner and those affiliates listed as additional
insureds below harmless from all such liabilities and claims Consultant also confirms
that it maintains insurance reasonably sufficient to protect it in the event of such
liabilities and claims
Consultant shall maintain insurance and furnish certificates in accordance with the
insurance requirements listed below Consultant shall deliver the certificates of insurance
prior to starting work to the following address
Attn Will Boudra
4173 Nimitz Road Honolulu HI 96818
Fax
Email willlboudra forestcity net
The Consultant shall carry and maintain at a minimum the insurance coverages set forth
below all in accordance with the terms stipulations and specifications contained herein
The Consultant shall provide to and for approval of the Owner valid duplicate original
Certificates of Insurance evidencing compliance with all requirements contained in this
Agreement all in form and substance satisfactory to the Owner The Consultant shall
provide Owner with proof of payment of premiums in full for the current annual period
of if such premiums are financed evidence that premiums are current
Acceptance and or approval of the insurances herein does not and shall not be construed
to relieve Consultant from any obligations responsibilities or liabilities under the
Agreement
All insurances required by the Agreement shall 1 be obtained at the sole cost and
expense of the Consultant ii be maintained with insurance carriers properly licensed to
do business in all states required by the terms of this Agreement and acceptable in all
respects to the Owner iii be primary and non contributing to any insurances
maintained by Owner iv contain a Waiver of Subrogation in Favor of the Owner except
for Workers Compensation and Employer s Liability Insurance so that in no event shall
the insurance carriers have any right of recovery against the Owner or its employees v
provide that written notice be given to the Owner and all additional insureds and
certificate holders at least thirty 30 days prior the cancellation non renewal or
modification of any such policies and vi name the Owner and its partners see page 6
and 7 directors officers and employees as additional insureds thereunder except for
Professional Liability Errors and Omissions Workers Compensation and Employer s
Liability insurances
The Consultant shall cause all insurances to be in full force and effect as of the date of
this Agreement and to remain in full force and effort throughout the term of this
Agreement and the performance of the Services and as further required by this
Agreement The Consultant shall not take any action or omit to take any action that
would suspend or invalidate any of the required coverages during the time period such
coverages are required to be in effect
Within thirty 30 days of the expiration date or renewal date the Consultant shall supply
the Owner with updated replacement Certificates of Insurance that clearly evidence the
continuation of all of the terms and conditions of the coverage limits of protection and
scope of coverage as was provided by the expiring Certificates of Insurance
If the Consultant fails to purchase and maintain or fails to require to be purchased and
maintained the liability insurance specified in this Agreement Owner may but shall not
be obligated to purchase such insurance on the Consultant s behalf and shall be entitled
to be repaid by the Consultant for any premiums paid therefore
The Consultant shall select reputable and financially sound insurers to underwrite the
Tequired coverages acceptable to Owner In all instances each insurer selected must be
rated at least A Excellent Class VII in the most recently published Best s Insurance
Report If an insurer s rating falls below A Excellent Class VII during the term of
the policy the insurance must be replaced no later than the renewal date of the policy
with an insurer acceptable to Owner and having an A Excellent Class VII rating in
the most recently published Best s Insurance Report
No act or omission of any insurance agent broker or insurance company representative
shall relieve Consultant of any of its obligations under this Agreement
The Consultant throughout the term of this Agreement or as otherwise required by this
Agreement shall obtain and maintain in full force and affect the following
casualty liability insurances with limits not less than specified herein and as required by
the terms of this Agreement or as required by law whichever is greater
Commercial General Liability Insurance or its coverage equivalent is to be provided
under the Insurance Service Office s SO most current form with a combined single
limit for Bodily Injury and Property Damage of not less than each
occurrence which insurance shall include a comparable limit with respect to Personal
Injury and Advertising Injury This limit may be provided through a combination of
primary and umbrella excess liability policies Such insurance shall include the
following coverages
Contractual Liability coverage for the contractual liabilities assumed under this
Agreement
Personal Injury and Advertising Injury Liability coverage to include injury sustained by
any person as a result of an offense directly or indirectly related to employment of such
person by the insured or by any other person and liability assumed under contracts
Extended Bodily Injury coverage with respect to bodily injury resulting from the use of
reasonable force to protect persons or property
Premises and Operations Medical Payments coverage
Broad Form Property Damage Liability coverage including coverage for completed
operations
Comprehensive Business Automobile Liability Insurance to include insured underinsured
and medical payment protection covering any automobile including owned leased
hired and non owned automobile with a combined single limit for Bodily Injury and
Property Damage of not less than per accident
Owner and its parents subsidiaries and affiliates shall be named as additional insured on
the policies with the exception of Auto Liability Professional Liability Worker s
Compensation and Employer s Liability insurances
The following shall where legally permissible be named as additional insureds in all
insurance policies required under this contract
1 Ohana Military Communities
5173 Nimitz Road
Honolulu HI 96818
2 Hawaii Military Communities
5173 Nimitz Road
Honolulu HI 96818
3 Department of the Navy
Naval Facilities Engineering Command Pacific
Attention PPV Business Agreements Manager Code AM5
258 Makalapa Drive Suite 100
Pearl Harbor
10 Termination
Owner shall have the right to terminate Consultant s services for any reason whatsoever
or for its own convenience by providing seven 7 days written notice In the event