/* Container for the whole relevancy page */
.relevancy-page-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; /* Align items vertically to center */
    height: 80vh; /* Full viewport height */
    padding: 20px; 
    width: 100vw;
}

.query-centering-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100%; 
    gap: 100px;
}

.relevancy-file-count-text {
    color: white;
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 15px; margin-left: auto; margin-right: 10px;
}

/* File selection section */
.relevancy-file-section {
    padding-right: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
}

.relevancy-chatbot-section {
    display: flex;
    margin-top: auto;
    margin-bottom: 8vh;
    
}

.relevancy-chatbot-container {
    display: flex; 
    width: 100%;
    flex-direction: column;

}


/* Input field styling */
.relevancy-input-field {
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    color: black;
    background-color: white;
<<<<<<< HEAD
    width: 200px; height: 18px; margin-left: 10px;
    margin-bottom: 20px; outline: none; margin-top: 20px;
=======
    width: 400px;
    height: 15px;
    margin-bottom: 20px;
    outline: none;
    margin-top: 10px; margin-right: 100px;
>>>>>>> 8ae52f076011422123cf49dd51627d5ea3a51096
}

.relevancy-controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    width: 200px; 
    justify-content: flex-start; 
}

.relevancy-switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 26px;
}

.relevancy-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.relevancy-file-search-text{
    color: white;

}

.relevancy-slider {
    position: absolute; 
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--neutral-800);
    transition: 0.4s;
    border-radius: 26px;
}

.relevancy-slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

.relevancy-switch input:checked + .relevancy-slider {
    background-color: var(--primary-400);
}

.relevancy-switch input:checked + .relevancy-slider:before {
    transform: translateX(24px);
}

.relevancy-controls span {
    font-size: 18px;
    font-weight: normal;
}

/* Error message styling */
.relevancy-error-message {
    color: red;
    font-size: 16px;
    margin-top: 10px;
    text-align: center;
}

/* File list and item styling */
.relevancy-file-list-container {
    padding-right: 30px;
    height: 50vh;
    overflow-x: hidden;
    overflow-y: scroll; /* Enable vertical scrolling */
    scrollbar-width: thin; /* Thin scrollbar for Firefox */
    scrollbar-color: white transparent; /* White thumb with transparent track */
    scroll-behavior: smooth; /* Smooth scrolling */
}

.relevancy-file-list-container.active {
    display: block;
    opacity: 1;
}

.relevancy-file-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.relevancy-file-item {
    width: 30vw;
    padding: 15px;
    font-size: 20px;
  font-weight: normal;
  user-select: none;
  background-color: #151414;
  border: 1px solid #2a2928;
  border-radius: 5px;
  color: white;
  margin-bottom: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}


.relevancy-file-item:hover {
    background-color: var(--neutral-800);
}

.relevancy-file-item.relevancy-selected {
    background-color: var(--neutral-700);
}


.relevancy-rank-filename-container{
    display: flex;
}

.relevancy-rank-container {
    display: flex;
    margin-right: 10px;
}

.relevancy-rank-number {
    display: flex;
    font-size: 20px;
    color: white;
}

.relevancy-filename-box {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reset-button-img {
    height: 50px;
    width: 55px;
    color: white;
    margin: 0 auto; margin-top: 20px;
}

.relevancy-reset-button-text {
    font-weight: normal;
    margin: 0 auto; color: white;
    font-size: 20px;
}

.relevancy-reset-button {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    margin-top: 15px; margin-right: auto;
}

.relevancy-mini-container {
    display: flex;
    flex-direction: column;
}

.relevancy-reset-button:hover {
    transform: scale(1.05);
}

/* Chatbot section input and button */
.relevancy-chatbot-input {
<<<<<<< HEAD
    width: 500px; height: 18px; outline: none;
    padding: 10px; border: none; 
    border-radius: 10px;
    background-color: white;
    color: black; 
=======
    width: 650px;
    height: 15px;
    outline: none;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: white;
    color: black;
>>>>>>> 8ae52f076011422123cf49dd51627d5ea3a51096
    font-size: 16px;
    margin: 20px 0;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Disabled state styling */
.relevancy-chatbot-input.disabled {
    background-color: gray; /* Gray background when disabled */
    color: #666; /* Light gray text when disabled */
    cursor: not-allowed; /* Not allowed cursor */
}

/* Chatbot response section */
.relevancy-chatbot-response {
    height: 600px; width: 600px;
    overflow-y: auto;
    font-weight: 400;
    font-size: 20px;
    color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}

.relevancy-submitted-query p {
    font-size: 22px; font-weight: 400; width: 850px;
    color: var(--primary-100);
}

.relevancy-chatbot-response ul {
    list-style: none;
}

.relevancy-chatbot-response li {
    text-indent: -20px;
    margin-bottom: 10px;
    color: white;
}

.relevancy-filename-text {
    margin-left: auto;
}


.relevancy-last-search
{ 
    color: white;
    font-weight: 400; margin-left: auto; margin-right: 50px;
    font-size: 20px;
}

.relevancy-form{
    display: row;
}


/* Centered prompt container */
.relevancy-prompt-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    z-index: 1000;
}
  
  /* Prompt text styling */
  .relevancy-prompt-text {
    font-size: 25px;
    font-weight: 400;
    color: white;
    margin-bottom: 50px;
}
  
  /* Prompt buttons container */
  .relevancy-prompt-buttons {
    display: flex;
    justify-content: center;
    gap: 30px;
  }
  
  /* Button styling */
  .relevancy-prompt-button {
    color: white;
    border: none;
    padding: 5px 15px;
    font-size: 22px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  

  .relevancy-yes-button{
    color: black;
    background-color: white;
  }

  .relevancy-yes-button:hover{
    background-color: #000;
    color: white;
    border: 0.5px solid white;
  }

  .relevancy-no-button{
    color: white;
    background-color: black;
  }

  .relevancy-no-button:hover{
    color: gray;
  }
  