.background{
  background-image: url(C:\Users\taiki\OneDrive\Desktop\Geolabs\frontend\public\background.jpg);
  background-size: cover;
  background-position: center;
  height: 1000px;
}

.container{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
