html {
  background-color: black;
  font-family: Arial, sans-serif;
  color: white;
}

button {
  cursor: pointer;
  border: 2px solid white;
  background-color: transparent;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}

button:hover {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 0 0 20px rgba(255, 255, 255, 0.6), 0 0 30px rgba(255, 255, 255, 0.4);
  transform: scale(1.1);
}

button:active {
  transform: scale(1.05);
}


.auth-buttons {
  display: flex;
  margin-left: auto; margin-right: 50px;
}

.header-buttons {
  display: flex;
  margin-right: auto; margin-left: 30px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  gap: 400px;
  width: 1100px;
  background-color: rgba(0, 0, 255, 0.03);
  padding: 20px;
  border-radius: 50px;
}

button.header-button, button.auth-button {
  margin-left: 20px;
}

.second-container{
  margin: 0 auto;
  width: 1100px;
}

.main-links{
  margin-left: 550px;
}

.geolabs-link{
  margin-left: 50px;
}

.title{
  font-size: 40px;
  font-weight: bold;
  margin-left: 50px; margin-top: 30px;
}

.subtitle{
  font-size: 20px;
  font-weight: bold;
  margin-left: 70px; margin-top: 10px;
}

.description{
  margin-top: 10px; margin-left: 70px;
  font-size: 15px;
}

.info-button{
  margin-top: 25px; margin-left: 70px; margin-bottom: 15px;
}

.main-menu-img-container{
  width: 0px;
  margin-top: -850px;
}

.main-menu-img1{
  width: 600px; height: 400px;
  margin-left: 450px; margin-right: 120px; margin-bottom: 40px;
  border-radius: 50px;
}

.main-menu-img2{
  width: 600px; height: 400px;
  margin-left: 450px;
  border-radius: 50px;
}

body {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}


footer {
  background-color: rgba(0, 0, 255, 0.03);
  display: flex;
  width: 1000px;
  margin-top: 30px; margin-left: 20px; margin-bottom: 20px;
  padding: 10px; padding-left: 50px; padding-right: 50px;
  border-radius: 20px;
}


/* This section is from ProgramSelection.js */
.options-container {
  background-color: rgba(0, 0, 255, 0.03);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 300px; padding: 10px; height: 700px;
  margin-right: auto; margin-left: 20px;
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 20px;
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 255, 0.2) transparent;
}

.option-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px; height: 150px; padding: 20px;
  margin: 20px;
  border: 2px solid white;
  background-color: trasparent;
  border-radius: 20px;
  cursor: pointer;
  text-align: center;
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.option-box h2 {
  margin: 0;
}


.option-box:hover {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 0 0 20px rgba(255, 255, 255, 0.6), 0 0 30px rgba(255, 255, 255, 0.4);
  transform: scale(1.1);
}

.option-box:active {
  transform: scale(1.05);
}
