.options-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%; padding: 20px;
  margin-right: auto;
  margin-left: 20px;
}

.option-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px; height: 150px; padding: 20px;
  margin: 20px;
  border: 2px solid white;
  background-color: trasparent;
  border-radius: 20px;
  cursor: pointer;
  text-align: center;
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.option-box h2 {
  margin: 0;
}


.option-box:hover {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 0 0 20px rgba(255, 255, 255, 0.6), 0 0 30px rgba(255, 255, 255, 0.4);
  transform: scale(1.1);
}

.option-box:active {
  transform: scale(1.05);
}