.file-upload-container {
  margin-top: 100px;
  color: white;
}

.file-list-container {
  margin-top: 20px;
  margin-bottom: 20px;

  max-height: 200px; /* Set a fixed height */
  overflow-y: auto; /* Enable vertical scrolling */
  padding: 10px;
  background-color: rgba(71, 61, 139, 0.1);
  border-radius: 5px;
  width: 100%;
}

.file-list-container p {
  margin: 0; /* Remove default margins */
}

.search-files-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  color: white;
  margin-top: 50px;
  margin-bottom: 50px;
  
}

.search-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.input-field {
  margin-bottom: 20px;
  padding: 10px;
  width: 500px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  background-color: rgba(71, 61, 139, 0.1);
  color: white;
}

.submit-button {
  padding: 10px 20px;
  background-color: rgba(71, 61, 139, 0.1);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-button:hover {
  transform: scale(1.2);
}

.output-section {
  margin-top: 20px;
  text-align: center;
  width: 100%;
}

.output-section h2 {
  margin-bottom: 10px;
}

.output-content {
  max-height: 200px;
  overflow-y: scroll;
  padding: 10px;
  background-color: rgba(71, 61, 139, 0.1);
  border-radius: 5px;
}

.output-content p {
  margin: 0; 
}

.back-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: rgba(71, 61, 139, 0.1);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.back-button:hover {
  transform: scale(1.2);
}
