.side-menu {
    position: relative;
    transition: width 0.3s ease-in-out;
    display: flex;
    flex-direction: row; /* Use column to stack items vertically */
    align-items: center;
    box-sizing: border-box;
    margin-left: 20px;
    margin-bottom: -100px;

  }
  
  .side-menu.open {
    width: 150px;
  }
  
  .menu-container {
    display: flex;
    flex-direction: row; /* Use column to stack items vertically */
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  }
  
  .menu-container.open {
    opacity: 1;
    visibility: visible;
  }
  
  .menu {
    background-color: rgba(71, 61, 139, 0.1);
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 100px;
    font-size: 16px;
    border-radius: 10px;
    margin: 10px 0;
    margin-left: 20px;
    font-weight: bold;
  }
  
  .menu:hover {
    transform: scale(1.1);
    background-color: rgba(100, 90, 170, 0.1);
  }
  
  .hamburger-background {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    cursor: pointer;
  }
  
  .hamburger {
    width: 30px;
    height: 25px;
  }
  
  .hamburger:hover {
    transform: scale(1.2);
  }
  

