/* Hide the scrollbar while allowing scrolling */
.reports-container, .nav-buttons, .auth-buttons, .main-content {
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
  
}

.reports-container::-webkit-scrollbar, 
.nav-buttons::-webkit-scrollbar, 
.auth-buttons::-webkit-scrollbar, 
.main-content::-webkit-scrollbar {
  display: none; 
}

/* Improved scrollbar for the file list */
.scrollable-file-list::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

.scrollable-file-list::-webkit-scrollbar-thumb {
  background-color: var(--primary-300); /* Scrollbar thumb color */
  border-radius: 10px; /* Roundness of the scrollbar thumb */
  border: 2px solid var(--neutral-900); /* Space around thumb */
}

.scrollable-file-list::-webkit-scrollbar-track {
  background-color: var(--neutral-900); /* Match scrollbar track color with background */
  border-radius: 10px; /* Roundness of the scrollbar track */
}

.scrollable-file-list::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary-400); /* Darker color on hover */
}
  
  .app-container {
    min-width: 100vw; height: 100%;
    display: flex;
    flex-direction: column; /* Change direction to column for vertical layout */
    overflow-y: auto; /* Enable vertical scrolling */
  }


  .main-content-container {
    display: flex; 
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
  }

  .main-content {
    
    color: var(--primary-100);
    background-color: rgb(10, 10, 10);
    flex: 1;
    display: flex;
    box-sizing: border-box;
    position: relative;
    z-index: 1; 
    min-width: 100vw;
    justify-content: center;
    align-items: flex-start;
  }
  
  .title-search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
  }
  
  .add-remove-container { /* Adjusted container for buttons */
    display: flex;
    gap: 150px;
    margin: 0 auto; margin-top: 10px; 
  }

  .reports-remove-text, .reports-upload-text{
    margin-top: 1px; font-size: 12px; text-align: center;
  }

  .add-remove-option-box {
    padding-left: 10px; padding-right: 10px; padding-top: 10px;
    border-radius: 10px; text-align: center;
    cursor: pointer; font-size: 30px; margin-bottom: 5px;
  }

  .add-remove-option-box:hover {
    transform: scale(1.05);
  }
  
  
  .software-sections {
    display: flex;
    flex-direction: column;
  }

  .software-section {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 20px;
  }
  
  .software-title {
    text-align: center;
    margin-right: auto;
    font-weight: bold;
    color: var(--neutral-100);
  }
  
  
  .software-description {
    text-align: center; width: 700px; margin: auto;
    font-size: 20px; font-weight: normal;
    margin-top: -10px;
    margin-bottom: 30px;
    color: var(--neutral-200);
  }

  .app-footer {
    justify-content: center;
    gap: 50px;
  }
  
  
  .options-container {
    display: grid; gap: 20px;
  }
  
  .option-box {
    max-width: 300px;
    background-color: var(--neutral-900);
    color: var(--primary-100);
    padding: 15px; padding-bottom: 0px;
    border-radius: 10px;
    transition: all 0.3s ease;
    cursor: pointer;

  }
  
  .option-box:hover {
    transform: scale(1.05);
    background-color: var(--neutral-800);
  }
  
  .option-box h2 {
    margin-top: 0px;
    width: auto;
    font-weight: bold; font-size: 30px;
    padding: 5px; border-radius: 20px;
  }
  
  .option-box p {
    margin-top: -15px; margin-left: 5px;
    font-weight: normal;
    font-size: 20px; color: var(--neutral-200);
  }

  

  .file-actions-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: auto;
    position: relative;
  }

  .file-top-container{
    display: flex;
    gap: 250px;
  }
  
  .file-search-bar {
    display: flex;
    height: 50px;
    align-items: center; margin-left: 10px; 
  }

  
.file-list-title { /* New class for file list title */
  font-size: 20px; margin-left: -50px; font-weight: normal;
  color: var(--neutral-100);
}
  
  .file-search-bar input {
    padding: 8px; color: black; 
    font-size: 16px;
    border-radius: 5px;
    border: none;
    background-color: white;
    width: 300px; margin-bottom: 5px;
    outline: none;
  }
  
  .file-list-container { 
    padding: 10px; margin-top: -10px;
    width: 700px; max-height: 600px; overflow-x: hidden;
    margin-left: auto;
    border-radius: 5px;
    overflow-y: auto;
}

.scrollable-file-list { /* Updated scrollable file list */
    background-color: transparent;
    font-size: 20px;

}

  
.file-item { 
  background-color: var(--neutral-900);
  padding: 12px; font-weight: normal; user-select: none;
  border-radius: 10px;
  color: var(--neutral-300);
  margin-bottom: 7px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}


.file-item.selected { /* Styling for selected file item */
  background-color: var(--neutral-700); /* Selected color */
  transform: scale(1.03); /* Slightly enlarge the selected box */
}

.file-item:hover {
  background-color: var(--neutral-800); /* Hover color */
}

  

  .reports-mini-container{
    display: flex;
    align-items: center;
    margin-top: -30px; margin-left: -20px;
  }
  

  .option-logo {
    width: 70px; /* Adjust the size as needed */
    height: auto;
    display: block;
    margin-right: auto;
    filter: invert(100%);

  }
  

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2); /* Lightly dimmed background */
    backdrop-filter: blur(10px); /* Blur effect */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s ease-in-out;
  }
  
  .overlay.visible {
    visibility: visible;
    opacity: 1;
  }
  
  .loading-message {
    font-size: 24px;
    font-weight: bold;
    color: white;
  }
  

.reports-file-remove-button, .reports-file-upload-button{
  width: 40px; color: white; filter: invert(1);
}


