
  .app-container {
    width: 100vw; height: 100%;
    display: flex;
    flex-direction: column; /* Change direction to column for vertical layout */
    overflow-y: auto; /* Enable vertical scrolling */
  }

  .reports-container{
    display: flex;
    justify-content: center;
  }


  
  .add-remove-container { /* Adjusted container for buttons */
    display: flex; color: white;

  }

  .reports-remove-text, .reports-upload-text{
    margin-top: 3px; font-size: 20px; text-align: center;
  }

  .add-remove-option-box {
    padding-left: 10px; padding-right: 10px; padding-top: 10px;
    border-radius: 10px; text-align: center; margin-top: 30px;
    cursor: pointer; font-size: 30px;
  }

  .add-remove-option-box:hover {
    transform: scale(1.05);
  }
  
  
  .software-sections {
    width: 100vw;
    display: flex;
    flex-direction: column;
  }

  .software-section {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 20px;
  }

  .reports-software-section-title{
    font-size: 60px; font-weight: 400;
    color: white; margin-left: auto;
  }

  .reports-software-section-description{
    color: white; font-size: 25px; margin-left: auto;
  }

  .reports-text-container{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
    justify-content: center;
    align-items: center;

  }
  
  .software-title {
    margin: 0 auto;
    text-align: center;
    margin-right: auto;
    font-weight: 400;
    font-size: 100px;
    color: white;
  }
  
  .desc-more-container{
    display: flex; flex-direction: column;
    justify-content: center;
  }

  .software-description {
    text-align: left; width: 1000px;
    font-size: 25px; font-weight: normal; margin-top: 50px;
    color: var(--primary-100);
  }

  .reports-more-button{
    font-weight: normal;
    background-color: white; width: 150px;
    padding: 10px 15px; color: rgba(0, 0, 0, 0.9);
    font-size: 18px; cursor: pointer;
    margin-left: auto; margin-right: 30px; 
  }

  .reports-more-button:hover{
    background-color: #000;
    color: white;
    border: 0.1px solid white;
  }

  .app-footer {
    justify-content: center;
    gap: 50px;
  }
  
  
  .reports-options-container {
    display: flex; justify-content: center; margin-top: 100px;
    margin-bottom: 300px;
    gap: 200px;
  }
  
  .option-box {
    max-width: 300px;
    color: white;
    background-color: #151414;
    border: 1px solid #2a2928;
    padding: 50px; padding-bottom: 20px;
    border-radius: 5px;
    transition: all 0.3s ease;
    cursor: pointer;

  }
  
  .option-box:hover {
    transform: scale(1.05);
  }
  
  .option-box h2 {
    margin-top: 0px;
    width: auto;
    font-weight: bold; font-size: 50px;
    padding: 5px; border-radius: 20px;
  }
  
  .option-box p {
    margin-top: -15px; margin-left: 5px;
    font-weight: normal;
    font-size: 20px; color: white;
  }


  .reports-database-title{
    font-size: 60px; font-weight: 400; color: white;
    display: flex;
  }

  .reports-database-description{
    color: white; font-size: 25px;
  }
  

  .file-actions-container {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
  }

  .reports-file-top-container{
    display: flex; margin-top: 25px; margin-bottom: 50px;
  }

  .reports-file-count{
    font-size: 25px;
    margin-top: 25px;
    margin-left: 30px;
    
  }
  
  .file-search-bar {
    display: flex;
    height: 50px;
    align-items: center; margin-left: auto; margin-right: 50px;
  } 

  .reports-file-list-search-title{
    color: white; font-size: 25px; margin-right: 20px;
  }

  
.file-list-title { /* New class for file list title */
  font-size: 20px; font-weight: normal; margin-left: auto;
  color: white;
}
  
  .file-search-bar input {
    padding: 10px; color: black; 
    font-size: 16px;
    border: none;
    background-color: white;
    width: 300px; 
    outline: none;
  }
  
  .file-list-container { 
    padding-right: 30px;
    width: 50vw; height: 800px; overflow-x: hidden;
    overflow-y: auto; margin-right: 50px;
}

/* Hide scrollbar by default */
.scrollable-file-list {
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
  overflow-y: scroll; /* Enable vertical scrolling */
}

/* Hide scrollbar in Webkit-based browsers (Chrome, Safari, etc.) */
.scrollable-file-list::-webkit-scrollbar {
  width: 0; /* Hide the scrollbar */
}

/* Show scrollbar on hover */
.scrollable-file-list:hover::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar when hovering */
}

/* Improved scrollbar for the file list when visible */
.scrollable-file-list:hover::-webkit-scrollbar-thumb {
  background-color: var(--primary-300); /* Scrollbar thumb color */
  border-radius: 10px; /* Roundness of the scrollbar thumb */
  border: 2px solid var(--neutral-900); /* Space around thumb */
}

.scrollable-file-list:hover::-webkit-scrollbar-track {
  background-color: var(--neutral-900); /* Match scrollbar track color with background */
  border-radius: 10px; /* Roundness of the scrollbar track */
}

.scrollable-file-list:hover::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary-400); /* Darker color on hover */
}


  
.file-item { 
  padding: 15px; font-weight: normal; user-select: none;
  background-color: #151414;
  border: 1px solid #2a2928;
  border-radius: 5px;
  color: white;
  margin-bottom: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}


.file-item.selected { /* Styling for selected file item */
  background-color: var(--neutral-700); /* Selected color */
}

.file-item:hover {
  background-color: var(--neutral-800); /* Hover color */
}

  

  .reports-mini-container{
    display: flex;
    justify-content: center;
  }
  

  .option-logo {
    width: 70px; /* Adjust the size as needed */
    height: auto;
    display: block;
    margin-right: auto;
    filter: invert(100%);

  }
  

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2); /* Lightly dimmed background */
    backdrop-filter: blur(10px); /* Blur effect */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s ease-in-out;
  }
  
  .overlay.visible {
    visibility: visible;
    opacity: 1;
  }
  
  .loading-message {
    font-size: 24px;
    font-weight: bold;
    color: white;
  }
  

.reports-file-remove-button, .reports-file-upload-button{
  width: 40px; color: white; filter: invert(1);
}


