.register-container{
    display: flex;
    width: 500px;
    justify-content: center;
}

.register-box {
    width: 80%;
    background-color: rgb(15, 15, 15);
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.2);
    text-align: center;

}

.register-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  }
  
.register-form {
    display: flex;
    flex-direction: column;
}

.register-input {
    color: white;
    margin-left: 50px; margin-right: 50px; margin-bottom: 15px;
    justify-content: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.register-input:focus {
    border-color: white;
    outline: none;
}

.register-button {
    padding: 10px; margin-bottom: 25px; margin-left: 50px; margin-right: 50px; margin-top: 15px;
    background-color: rgba(255, 255, 255, 0.05);
    color: white;
    border: none;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.register-button:hover {
    background-color: rgba(255, 255, 255, 0.3);
    transform: scale(1.05);
    opacity: 1;
}