.file-upload-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .upload-section {
    position: relative;
  }
  
  .file-input {
    display: none;
  }
  
  .upload-button {
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .upload-icon {
    width: 50px; /* Adjust size as needed */
    height: 50px; /* Adjust size as needed */
  }
  
  .file-list-container {
    margin-top: 20px;
  }
  
  .file-item {
    margin: 5px 0;
  }
  